<%- include('../partials/header.ejs') %> <%- include('../partials/navbar.ejs')
%>

<div class="global__dashboard-container">
  <% if(user.tipoUsuario === 1) { %><%-
  include('../partials/dashboard-admin.ejs') %>

  <div class="global__dashboard-content">
    <h2 class="usuario__form-titulo">Modificación de usuario</h2>
    <h4 class="usuario__form-titulo">Id Usuario: <%- userData.idUsuario %></h4>
    <form
      method="post"
      action="/admin/modificarUsuario/<%- userData.idUsuario %>"
      class="usuario__form"
    >
      <label for="nombre">Nombre: </label><br />
      <input
        type="text"
        id="nombre"
        value="<%- userData.nombre %>"
        name="nombre"
      /><br />
      <label for="apellidoP">Apellido Paterno: </label><br />
      <input
        type="text"
        id="apellidoP"
        value="<%- userData.apellidoPaterno %>"
        name="apellidoP"
      /><br />
      <label for="apellidoM">Apellido Materno: </label><br />
      <input
        type="text"
        id="apellidoM"
        value="<%- userData.apellidoMaterno %>"
        name="apellidoM"
      /><br />
      <label for="username">Username: </label><br />
      <input
        type="text"
        id="username"
        value="<%- userData.username %>"
        name="username"
      /><br />
      <label for="password"> Password: </label><br />
      <input
        type="text"
        id="password"
        value="<%- userData.password %>"
        name="password"
      /><br />
      <label for="puesto">Puesto: </label><br />
      <input
        type="text"
        id="puesto"
        value="<%- userData.puesto %>"
        name="puesto"
      /><br />

      <button>Modificar</button>
    </form>
  </div>
  <% } else { %>
  <div style="display: block; margin: 1rem 1rem">
    <h1>No tiene permisos para ver esta página</h1>
    <a href="/"><button>Volver a inicio</button></a>
  </div>
  <% } %>
</div>

<%- include('../partials/footer.ejs') %>
